<html>
<head>
    <title>SpeakUp AI</title>
</head>

<style>
    body {
        background-color: ivory;
        color: black;
    }
</style>

<body>
    <h1 style="text-align: center;">Welcome to SpeakUp AI</h1>
    <div>
        <h3 style="margin-left: 2in;">File Uploaded Successfully</h3>
        <h4 style="margin-left: 2in;">File Name:</h4>
        <output style="margin-left: 2in;">{{filename}}</output><br>
        <h4 style="margin-left: 2in;">Content Type:</h4>
        <output style="margin-left: 2in;">{{type}}</output><br>
    </div>
    <div>
        <h3 style="text-align: center;">Your file is being processed</h3>
        <h4 style="margin-left: 2in;">we will send a link when processing is complete</h4>
        <img style="margin-left: 2in;" src="spect">{{spect}}</img>
    </div>
</body>
</html>